<article class="dd-item">
  <div class="dd-item__post">
    <div class="dd-item__post-meta">
      <div class="dd-item__post-meta-title">
        <a href="{{ page.url }}">
          <h2>{{ page.title }}</h2>
        </a>
      </div>
      <div class="dd-item__post-meta-data">
        {% include 'partials/item_meta.html.twig' %}
      </div>
    </div>
  </div>
</article>
