<div class="dd-section {{ page.header.body_classes }}">
  <div id="{{ page.header.page_id }}" class="dd-section--container">
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
