<header class="flex flex-col justify:between">
  <div class="container container-box mx-auto lg:px-0">
    <div class="px-2 flex flex-wrap justify-between items-center">
      <div class="w-6/12 md:w-auto">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="flex items-center mr-2 font-title no-underline hover:no-underline focus:outline-none focus:ring-2 focus:ring-offset-8 focus:ring-secondary-darker dark:ring-offset-secondary dark:ring-white">
          <img class="mr-2 w-16 h-8" id="site-logo" src="{{ .Site.BaseURL }}/images/automacaodedados_logo.svg" alt="{{ T `logo_title` }}">
          <span class="text-base font-title leading-none mb-0 break-words dark:text-white">{{ .Site.Title }}</span>
        </a>
      </div>
      <div class="flex items-center lg:order-last">
        <a class="p-2 mr-2 inline-block no-underline focus:outline-none focus:ring-2 focus:ring-secondary-darker dark:focus:ring-white lg:mr-0 lg:ml-2" id="theme-menu-toggle" href="#" title="{{ T `theme_toggle` }}">
          <span class="sr-only">{{ T "theme_toggle" }}</span>
          <i class="w-7 h-7" id="theme-toggle-icon"></i>
        </a>
        <a id="navigation-menu-toggle" class="p-2 inline-block text-base no-underline focus:outline-none focus:ring-2 focus:ring-secondary-darker dark:focus:ring-white lg:hidden" role="button" aria-owns="main-menu" aria-controls="main-menu" aria-expanded="false" href="#main-menu">
          <span class="sr-only">{{ T "toggle_navigation" }}</span>
          <i class="navigation-menu-icon w-7 h-7 dark:filter dark:invert" id="navigation-toggle-icon"></i>
        </a>
      </div>
      {{ partial "navigation/navigation_header.html" . }}
    </div>
  </div>
</header>
